.cards5 {
    padding-top: 4rem;
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#0099ff, #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 70vh;
}
  .big__cards{
    background: #ddd6f3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #faaca8, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
  }
  
  h1 {
    font-weight: 700;

    color: rgb(255, 255, 255);
  }
  .cards__item__title5{
      font-size: 48px;
      text-align: left;
      margin-bottom: 10px;
  }
  
  .cards__container5 {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
    margin: 0;
    height: 100%;
  }
  
  .cards__wrapper5 {
    width: 100%;
    height: 100%;
  }
  
  .cards__items5 {

    height: 100%;
  }
  
  .cards__item5 {
    display: flex;
    flex: 1;
  }
  
  .cards__item__link5 {
     
    display: flex;
    flex-flow: row;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    position: relative;

  }
  
  .cards__item__pic-wrap5 {
    position: relative;
    width: 50%;
    padding-top: 0%;

  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  

  
  .cards__item__img5 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 55%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
    margin-left: auto;
    margin-right: auto;
  }
  

  
  .cards__item__info5 {
    padding: 90px 0px 30px 90px;
    color: white;
    max-width: 50%;
    
  }
  
  .cards__item__text5 {
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    line-height: 34px;
    margin-bottom: 10px;
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items5 {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }
  @media (min-width:0px) and (max-width:750px) {
    .cards__container5 {
      margin-top: 10%;
    }
      

  }