h4 {
    color: rgb(160, 15, 15);
    font-size: 50;
  }

.card-img-bottom {

    height: 5rem;
    background: center no-repeat;
    background-size: cover;
}
.cards__item__img3{
    min-width: 35rem;
    max-width: 98rem;
    height: 30rem;
    position: relative;
}
.cards__item__img4{
    width: 80%;
    height: 80px;
    padding-top: 1.5%;
    padding-left: 1%;
    padding-bottom: 1%;
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top,#0099ff, #ddd6f3);
    border-radius:15px ;
    color:white;
}
#aref{
    color: white;
}


.card-title3{
    font-size: large;
}  
.card-text1{
    font-size: 60;


}
.card{
    border-style:none;
    border: blue;
    margin-left: 0%;
    height: 500px;
    width: 100%;
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#0099ff, #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.row{
    width: 100%;

    margin-top: 0%;
}
.row88{

    display: flex;
    margin-top: 90px;


}



.card-block3{
    margin-top: 175px;

    font-size: 50;
}


.cards__items3{
    width: 100%;
    padding-left: 0%;
}
.cards__items4{
    width: 100%;
    padding-left: 80%;
}

@media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }

  
  @media (min-width:0px) and (max-width:770px) {
    .card-img-bottom {
      display: none;
    }
    .cards__item__img4{
        height: 110px;
        padding-top: 0.5%;
      }

  }
  @media (min-width:770px) and (max-width:1040px) {

    .row88{
        height: 110px;
        padding-top: 0;
        margin-top: 20px;
      }

  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }
  
